# exe
Main*.exe
MainWindow.build/
MainWindow.dist/
MainWindow.onefile-build/
output/
nuitka-crash-report.xml

# report
result/
allure-results/
allure-report/


# config file
*.toml

# pyinstaller related file
dist/
*.spec
build/

# Testfile
try*.py


# pycharm related file
.idea/
__pycache__/

# venv related file
venv/

# other
reference/
Notes*.txt

# backupfile
CheryDoIP*.7z